<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chekinpro">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ChekinPro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChekinPro"
        tools:targetApi="31">
        <activity
            android:name=".CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".FacturacionYCobroFragment"
            android:exported="false" /> <!-- Registro de visitantes -->
        <activity
            android:name=".RegistroDeVisitantes"
            android:exported="false" /> <!-- Pre-registro -->
        <activity
            android:name=".PreRegistroDeVisitantes"
            android:exported="false" /> <!-- Historial de visitas -->
        <activity
            android:name=".HistorialDeVisitas"
            android:exported="false" /> <!-- Menú principal -->
        <activity
            android:name=".Menu"
            android:exported="false" /> <!-- Registro/Inicio de sesión -->
        <activity
            android:name=".SignUp"
            android:exported="false" /> <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>